
  <app-title [title]="'Add Employee'" />

  <form [formGroup]="form" class="form">

    <div class="form-child">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="name" placeholder="Ingrese un nombre"/>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Nombre</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-child">
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput type="text" formControlName="lastName" placeholder="Ingrese un apellido"/>
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <mat-hint>Apellido</mat-hint>
      </mat-form-field>
    </div>

    <div class="form-child">
      <button mat-fab extended color="accent" (click)="addEmployee()">
        Enviar
      </button>
    </div>

  </form>
